.vmhosts {
  list-style: none;
}

.vmhost-info {
  font-size: 10px;
  color: #999;
}

.vmhost-block {
  margin-bottom: 20px;
  clear: both;
}

.vmhost-block-title {
  font-weight: bold;
}

.vmguests-memory-bar-label {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.vmguests-memory-bar {
  list-style: none;
  display: block;
  height: 19px;
  background-color: #fff;
  border: 1px #aaa solid;
  box-shadow: 2px 2px 2px #ddd;
  padding: 0;
  margin-top: 2px;
}

.vmguest-memory-block {
  font-size: 7px;
  float: left;
  display: inline-block;
  height: 17px;
  margin: 0;
  padding: 2px;
  border-right: 1px #aaa dotted;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.oldestupdate-info {
  font-size: 7px;
  color: #999;
  text-align: right;
  margin-top: 2px;
}

.oldestupdate-info span.oldestupdate-datetime {
  font-weight: bold;
}

.vmguest-infobox {
  font-size: 10px;
  position: absolute;
  background-color: #fafafa;
  border: 1px solid #aaa;
  border-top: none;
  box-shadow: 2px 2px 2px #ddd;
  padding: 8px;
}
